<form method="POST" action="/new">
    <fieldset>
        <legend>New Message Form</legend>
        <label for="authorName">Author Name</label>
        <input 
            type="text"
            placeholder="Author Name Here"
            id="authorName"
            name="authorName"
        >
        <label for="messageText">Message Text</label>
        <input 
            type="text"
            placeholder="Message Text Here"
            id="messageText"
            name="messageText"
        >
        <button type="submit">Submit Message</button>
    </fieldset>
</form>